<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, velit quasi dolorem explicabo inventore
            suscipit dolore incidunt omnis quidem corporis tempore quae voluptates, quos repudiandae? Saepe blanditiis
            reiciendis explicabo repudiandae.</p>
    </div>
</div>